#home{
    padding-top: calc(35vw + 20px);
}

#home img{
    position: absolute;
    top: calc(1.5vw + 10px);
    width: 100vw;
    z-index: 10;
    max-height: 890px;
    transform:  rotate(-1deg);
}

#home glass{
    width: 10%;
}

@media (min-width : 650px){
    #home img {
        top: 2.5vw
    }
}