*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: calc(10px + 5vw);
  box-sizing: border-box;
}
